<section class="my-5">
  <article class="container">
    <div class="row">
      @for (product of products; track $index) {
      <div class="col-md-3 p-2">
        <article class="card h-100">
          <img
            [src]="product.ProductImg"
            class="card-img-top"
            alt="{{ product.ProductName }}"
          />
          <div class="card-body">
            <h1 class="card-title">{{ product.ProductName }}</h1>
            <p class="card-text">
              {{ product.ProductPrice | currency : "USD" }}
            </p>
            @if (product.AvailablePieces < 5 && product.AvailablePieces != 0) {
            <p class="text-danger">
              Only {{ product.AvailablePieces }} available in stock
            </p>
            }
            <button
              (click)="buyProduct(product.ProductId)"
              class="btn btn-primary mt-2"
              [disabled]="product.AvailablePieces <= 0"
              [attr.aria-label]="'Buy' + ' ' + product.ProductName"
            >
              {{ product.AvailablePieces === 0 ? "Sold Out" : "Buy Now" }}
            </button>
          </div>
        </article>
      </div>
      }
    </div>
  </article>
</section>
